.App {
  text-align: center;
}

h1 {
  inline-size: 500px;
  text-align: center;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

li {
  margin: 0px 30px;
}

Link {
  text-decoration: none;
  color: inherit;
}

.haburger-icon {
  background: transparent;
  border: none;
}

.menuNav li{
  align-items: center;
}

.menuNav li:first-child {
  margin-top: 4rem;
}

header .recipe-header {
  display: inline;
}

.recipe-descriptions {
  display: block;
}



@media screen and (min-width: 759px) {
  .side-drawer {
    display: none;
  }
}