.App {
  text-align: center;
}

ul {
  list-style: none;
}


li {
  margin: 0px 30px;
}

Link {
  text-decoration: none;
}


.menuNav li:first-child {
  margin-top: 7rem;
}

@media screen and (min-width: 759px) {
  .side-drawer {
    display: none;
  }
}