.sideBar {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.sideBar.open {
    transform: translateX(0);
}

.sideBar li {
    margin: 0.5rem 0;
}

.sideBar Link {
    text-decoration: none;
}

.sideBar Link:hover,
.sideBar Link:active {
    color: purple
}

.hotdog {
    margin-top: 30px;
    background: transparent;
    border: none;
}

@media screen and (min-width: 759px) {
    .sideBar {
        display: none;
    }
}